<div class="ui segment">
  <div class="ui relaxed divided list">
    <div class="item" *ngFor="let item of todoService.getItems() | sortingItems" [ngClass]="item.completed ? 'completed' : ''">
      <div class="right floated content">
        <div class="ui positive icon button" (click)="toggleItem(item)">
          <i class="check icon" *ngIf="!item.completed"></i>
          <i class="undo icon" *ngIf="item.completed"></i>
        </div>
        <div class="ui negative icon button" (click)="deleteItem(item)">
          <i class="remove icon"></i>
        </div>
      </div>
      <div class="content">
        <h2 class="header">
          <div [outerHTML]="item.text | linkable"></div>
        </h2>
        <div class="description">Created {{ item.created | amTimeAgo }}</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="ui left icon fluid input">
          <input type="text" autofocus placeholder="Add new item..." [(ngModel)]="text" (keyup.enter)="createItem()">
          <i class="check icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
